{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Contact Us | Startic Field</title>
        <link rel="stylesheet" href={% static "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" %} integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href={% static "images/startic-field-logo.jpeg" %} rel="shortcut icon" type="image/x-icon" >
        <link rel="stylesheet" type="text/css" href={% static "css/contact.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "css/footer.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "css/scrollnavigationbar.css" %}>
    </head>
    <body>
        <div class="localnavigation">      
            <a href="\" class="imgside">
                <img src={% static "images/Group-58.svg" %} loading="lazy" width="140" height="44"></a>
            <ul>   
                <li><a href="/contact" class="navbarelements">Contact Us</a></li>
                <li><a href="/about" class="navbarelements">About Us</a></li>
                <li><a href="/programs" class="navbarelements">Programs</a></li>
                <li><a href="/events" class="navbarelements">Events</a></li>
          {% if user.is_authenticated %}
          <li class="active"><a href={% url 'logout' %} class="activenavbarelements">Logout</a></li>
          {% else %}
          <li class="active"><a href="/sign" class="activenavbarelements">Sign Up</a></li>
          {% endif %}

            </ul>
        </div>    
        <section class="contact">
            <div class="content">
                <h2>Contact Us</h2>
                <p>ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.
                    ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.
                    ascdvb dsvazvdfbdsg svdf dsdvz sas vdb esd ffas bg evd geavd sa 
                    vsdf  ev we dfweoi jkocmd id jckvwidsn jvsd  vwfgervweg wecved.

                </p>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="Box">
                        <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>No permanent office yet.<br>Please upadte it.<br>This is online.</p>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>No chosen yet.</p>
                        </div>
                    </div>
                    <div class="Box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>StarticField@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send Message</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea required="required"></textarea>
                            <span>Type your query...</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="send">
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <style>
            .lnk:hover {
              color:blue !important;
            }
          </style>
        <div class="MainFooter">
                  <a href='\'> 
                    <img src={% static "images/Group-58.svg" %} loading="lazy" width="140" height="44">
                  </a>
                  <div class='footercontent'>
                    Startic Field is a company which aims to endow student entrepreneurs with the power of community, knowledge, capital and mentorship. It is also a forum where we bring together working professionals as contributors who have a passion to startup, years of experience and small amounts of capital but do not have the bandwidth to work on the ground.
                  </div>
                  <div class='CopyRight'>
                    <span>&copy;</span> 2022, Starticfield Innovations Pvt. Ltd. All Rights Reserved.
                  </div>
                  <a href='#' class='MainHeading' style="--h:10%;--l:35%;">
                    <b>Company</b>
                  </a>
                  <a href="/about" class='SubHeading' style="--h:30%;--l:35%;">About Us</a>
                  <a href='#' class='SubHeading' style="--h:42.5%;--l:35%;">Privacy Policy</a>
                  <a href='#' class='SubHeading' style="--h:55%;--l:35%;">Terms and Conditions</a>
                  <a href='#' class='MainHeading' style="--h:10%;--l:55%;">
                    <b>Other Links</b>
                  </a>
                  <a href='#' class='SubHeading' style="--h:30%;--l:55%;">Community</a>
                  <a href='/events' class='SubHeading' style="--h:42.5%;--l:55%;">Events</a>
                  <a href='/programs' class='SubHeading' style="--h:55%;--l:55%;">Programs</a>
                  <a href='/contact' class='MainHeading' style="--h:10%;--l:75%;">
                    <b>Contact Us</b>
                  </a>
                  <a href='#' class='SubHeading' style="--h:67.5%;--l:55%;">Careers</a>
                <a href="contact" class='SubHeading' style="--h:30%;--l:75%;">Contact Us</a>
                  <div class='SubHeading' style="--h:42.5%;--l:75%;">Priyansh@starticField.com</div>
                  <div class='SubHeading' style="--h:55%;--l:75%;">
                        <a href="#" class="SocialLinks" style="--j:0;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124ac15112aad5_twitter%20small.svg" loading="lazy" alt=""></a>
                        <a href="#" class="SocialLinks" style="--j:23%;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a389912aad8_linkedin%20small.svg" loading="lazy" alt=""></a>
                        <a href="#" class="SocialLinks" style="--j:46%;"><img src="https://uploads-ssl.webflow.com/62434fa732124a0fb112aab4/62434fa732124a51bf12aae9_facebook%20small.svg" loading="lazy" alt=""></a>
                  </div>
        </div>    
    </body>
</html>